## Archivos gestionados por Git LFS para no sobrepasar el límite de tamaño de GitHub
docs/data/inventory.json filter=lfs diff=lfs merge=lfs -text
docs/inventario_interactivo_offline.html filter=lfs diff=lfs merge=lfs -text
docs/inventory/* filter=lfs diff=lfs merge=lfs -text
